body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header,
footer {
    text-align: center;
    background-color: #0feb67;
    color: white;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: #2be034;
    color: white;
    padding: 10px;
    bottom: 1em;
    position: fixed;
    width: 92.5em;
}

.container {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #333;
    line-height: 1.6;
    hanging-punctuation: first;
    hyphens: auto;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: justify;
    text-indent: 30px;
    text-transform: capitalize;
    overflow-wrap: break-word;
    white-space: normal;
    tab-size: 4;
}